main{
    padding-left: 5%;
}

li{
    position: relative;
    padding: auto;
}

ul{
    list-style: none;
    display: inline-flex;
}

header {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #c6e197;
    box-sizing: border-box;

}

.sticky-header {
    position: sticky; 
    top: 0;
    z-index: 100; 
}

ul li{
    padding:20px;
}

.a-header{
    text-decoration: none;
    color: rgb(32, 43, 52);
    text-transform: uppercase ;
}

input {
    border-radius: 20px;
}

footer{
    align-items: center;
    bottom: 0;
}

.footer {
    
    border: 2px solid #e9e3e3;
    background-color: #c6e197;
    display: flex;
    text-align: center;
    clear: both;
}

.p-footer{
    padding: 35px;
    text-align: center;
    font-size: small;
}

.footer-right{
    /* margin-left:300px ; */
    float: right;
}

.footer .footer-right  {

    font-weight: bold;
}

.footer .footer-right .footer-right-icon a{
    margin: 10px;
}

.icon i{
    padding: 1px;
}

input {
    border-radius: 20px;
}


.img-footer{
    width: 100px;
    height: 100px;

}
.img-logo{
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
.intro{
    border: 1px solid #c6e197;
    border-radius: 5%;
    margin: 10px 15%;
    background-color: #c6e197;
    box-shadow: 0px 1px 5px;
}
.p-div{
    padding:5px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #a3790f;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#team-avatar{
    box-sizing: border-box;
    display: block;
    height: 90px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
}
#avatar{
    box-sizing: border-box;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    display: inline-block;
    height: 90px;
    
    width: 90px;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    
}
#object  {
    box-sizing: border-box;
    display: block;
    height: 90px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    transition-delay: 0.5s;
    transition-duration: 0.9s, 0.9s;
    transition-timing-function: ease-in-out;
    width: 95px;
    border-radius: 50%;
    padding: 10%;
}
#loaded{
    height: 91px;
    left: 45px;
    max-width: none;
    object-fit: cover;
    position: absolute;
    top: 45px;
    transform: matrix(1,0,0,1,-42,-46);
    width: 91px;
    
}