
.img-logo{
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* / padding-top: 2%; / */
  }
  .form-control mr-sm-2 {
    border-radius: 20px;
  }
  
  .btn btn-outline-success my-2 my-sm-0 {
    border-radius: 20px;
  }
  
  h2 {
    /* text-align: center; */
    font-weight: bold;
  }

  h1 {
    text-align: center;
    font-weight: bold;
  }
  
  .p-DanhMuc{
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgba(21, 97, 55, 0.5);
    padding-left: 25px;
    color: #fff;
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }
  .cards:hover img{
    filter: grayscale(0)
    brightness(0.4);
  }
  .cards:hover::after{
    opacity: 1;
    inset: 5px;
  }
  .cards:hover .img-content {
    scale: 1;
    opacity: 1;
  }
  .cards:hover .img-content {
    opacity: 1;
    transform: translateY(0);
  }
  .img-content a{
    margin-bottom: 12px;
    scale: 0.7;
  }
  
  .img-content a {
    font-size: 14px;
    line-height: 1.5;
    color: #e5f7b2;
    transform: translateY(50%);
  }
  .img-content h3,
  .img-content p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
  }
  .img-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .container-suggest {
    text-align: center;
  }
  
  .container-suggest img {
    border-radius: 50%;
    width: 150px;
  }
  
  .a-body{
    color: #8FB780;
  }
  .content img{
    border-radius: 50%;
    padding: 6px;
    width: 100px;
  }
  
  .content {
    border: 1px solid #CDCDCD;
    margin-right: 5px;
    margin-bottom: 5px;
    height: auto;
    
  }
  
  .right {
    border: 1px solid #CDCDCD;
    height: 710px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-right: 3%;
    position: sticky;
    top: 100px;
  }
  .icon i{
    padding: 1px;
  }
  input {
    border-radius: 20px;
  }
  
  .content .a-body .box-content {
    background-color: red;
  }
  
  
  #menu-button {
    border: #c6e197;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5%;
    cursor: pointer;
    z-index: 100;
    background: #f9a825;
  }
  
  #menu {   
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    display: none;
    position: fixed;
    background-color:#6db657;
    padding: 10px;
    border-radius: 5px;
    z-index: 9;
    display: block;
    height: 100%;
    width: 30%;
    
  }
  
  #menu ul {
    list-style: none;
    padding: 0;
  }
  
  #menu ul li {
    margin-bottom: 10px;
  }
  #menu a{
    color: #fff;
    padding-left: 1%;
    padding:1%;
    text-decoration: none;
    text-align: center;
    list-style: none;
  }
  #menu ul li a {
    text-decoration: none;
    color: #333;
  }
  
  @media only screen and (min-width: 768px) {
    #menu, #menu-button {
      display: none;
    }
  }
  @media (max-width:325px){
    #menu{
        width: 100%;
    }
  }
  
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    border : none;
  }
  
  .dropdown-item {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-item a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-item {
    display: block;
  }
  
  .xem-them:hover {
    color: #f00;
  }
  
  .xem-them:hover {
      color: #f00;
  }
  @media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* / medium and up screens / */
  @media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
      transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
  }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
  transform: translateX(0);
  }
  
  .checked {
  color: orange;
  }
  
  .navbar navbar-expand-lg navbar-light bg-light {
    text-align: center;
  }
  
  .sticky{
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    position: sticky;
  }


.container {
  box-sizing: border-box;
  border-style: inset;
  border-width: medium;
  border-color: #54cada;
}

.container-ingredients {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
  padding: 15px;
  margin: 16px auto;
  background-color: #fffdf1;
  border: .5px solid #f2c94c;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-size: 20px; */
}

.box-tulieu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ebf0f9;
  margin: -15px 0 10px 0;
  font-size: 16px;
  /* padding-top: 10px; */
  margin-top: 0px;
}

.box-tulieu > span {
  /* width: 100px; */
  display: block;
  text-align: center;
  color: #515764;
  padding: 0 16px;
  font-size: 14px;
  /* padding-top: 5px; */
}

.h-1 {
  background: linear-gradient(to right, #52b788, #3a86ff);
  -webkit-background-clip: text;
  color: transparent;
}

.h-2 {
  background: linear-gradient(to right, #52b788, #3a86ff);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.h-3 {
  background: linear-gradient(to right, #52b788, #3a86ff);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.h-4 {
  background: linear-gradient(to right, #52b788, #3a86ff);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

/*CSS Comment*/
body{
  margin-top:0px;
  /* background-color:#e9ebee; */
}

.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  padding: 50px 70px;
  border:1px solid #ffffff;
}

.comments-title {
  font-size: 16px;
  color: #262626;
  margin-bottom: 15px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
  width: 60px;
  height: 60px;
  float: left;
  margin-bottom: 15px;
}

.be-ava-comment {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.be-comment-content {
  margin-left: 80px;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 13px;
  font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
  color: #383b43;
}

.be-comment-content span {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
}

.be-comment-time {
  text-align: right;
}

.be-comment-time {
  font-size: 11px;
  color: #b4b7c1;
}

.be-comment-text {
  font-size: 13px;
  line-height: 18px;
  color: #7a8192;
  display: block;
  background: #f6f6f7;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
  position: absolute;
  top: 1px;
  left: 16px;
  width: 48px;
  height: 48px;
  background: #f6f6f7;
  color: #b5b8c2;
  text-align: center;
  line-height: 50px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.form-group .form-input {
  font-size: 13px;
  line-height: 50px;
  font-weight: 400;
  color: #b4b7c1;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #edeff2;
  border-radius: 3px;
}

.form-group.fl_icon .form-input {
  padding-left: 70px;
}

.form-group textarea.form-input {
  height: 150px;
}
/* End CSS Comment */

.hr-1 {
  size: 100px;
}