body{
    hyphens: auto;
}
main{
    padding-left: 5%;
}


/* Comment */
#comments {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.comment {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}
/* header */
header {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #c6e197;
    box-sizing: border-box;

}
.div-header{
    background-color: #c6e197;
    height: 60px;
    display: block;
    word-spacing: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 12px 0px;
}
.div-header a:hover{
    color: rgb(60, 12, 217);
}
.sticky-header {
    position: sticky; 
    top: 0;
    z-index: 100; 
  }
/* body */
.ingredient{
    padding-left: 10px;
}

/* ul li */
ul li{
    padding:20px;
}
li{
    position: relative;
    padding: auto;
}
ul{
    list-style: none;
    display: inline-flex;
}
/* IMG */
.icon{
    padding: 1px;
}
.img-title{
    height: 663px;
    width: 800px;
    padding-left:15px;
}
.img-logo{
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
.img-footer{
    width: 100px;
    height: 100px;

}
.container-suggest img {
    border-radius: 50%;
    width: 180px;
}

/* Text-a */
.a-header{
    text-decoration: none;
    color: rgb(32, 43, 52);
    text-transform: uppercase ;
}

.a-body{
    color: #8FB780;
    
}
.div-header a{
    padding: 15px 16px;
    text-decoration: none;
    position: relative;
}
.right a{
    font-weight: bold;   
}
.a-body {
    background-color: red;
}

/* Text-p */
.p-content{
    padding: 1%;
}
.p-footer{
    padding: 35px;
    text-align: center;
    font-size: small;
}
/* Text-h2 */
h2 {
    text-align: center;
    font-weight: bold;
}
/* suggest */
.container-suggest {
    text-align: center;
}

/* Footer */
footer{
    align-items: center;
    bottom: 0;
}
.footer {
    
    border: 2px solid #e9e3e3;
    background-color: #c6e197;
    display: flex;
    text-align: center;
    clear: both;
}

.footer-right{
   float: right;
}
.footer .footer-right  {
    font-weight: bold;
}
.footer .footer-right .footer-right-icon a{
    margin: 10px;
}
/* right */
.right{
    
    width: 320px;
    height: 663px;
    border: 1px solid #CDCDCD;
    float: right;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-right: 3%;
}




