body{
    hyphens: auto;
}
main{
    padding-left: 5%;
}
li{
    position: relative;
    padding: auto;
}
ul{
    list-style: none;
    display: inline-flex;
}
header {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #c6e197;
    box-sizing: border-box;

}
.sticky-header {
    position: sticky; 
    top: 0;
    z-index: 100; 
  }
ul li{
    padding:20px;
}

h2 {
    text-align: center;
    font-weight: bold;
}
.img-title{
    height: 663px;
    width: 900px;
    padding-left:15px;
}
.img-logo{
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}



.img-footer{
    width: 100px;
    height: 100px;

}

.a-header{
    text-decoration: none;
    color: rgb(32, 43, 52);
    text-transform: uppercase ;
}

.a-body{
    color: #8FB780;
    
}
.div-header{
    background-color: #c6e197;
    height: 60px;
    display: block;
    word-spacing: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 12px 0px;
}

.div-header a{
    padding: 15px 16px;
    text-decoration: none;
    position: relative;
}


.div-header a:hover{
    color: rgb(60, 12, 217);
}

.right a{
    font-weight: bold;
    
}
.right{
    width: 320px;
    height: 663px;
    border: 1px solid #CDCDCD;
    float: right;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-right: 3%;
}
.container-suggest {
    text-align: center;
}

.container-suggest img {
    border-radius: 50%;
    width: 180px;
}
footer{
    align-items: center;
    bottom: 0;
}
.footer {
    
    border: 2px solid #e9e3e3;
    background-color: #c6e197;
    display: flex;
    text-align: center;
    clear: both;
}
.p-footer{
    padding: 35px;
    text-align: center;
    font-size: small;
}
.footer-right{
   float: right;
}
.footer .footer-right  {
    font-weight: bold;
}
.footer .footer-right .footer-right-icon a{
    margin: 10px;
}
.icon i{
    padding: 1px;
}
 .a-body {
    background-color: red;
}