body {
    padding: 0px 40px 20px 50px;
}

header {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.sticky-top .div-header {
    text-align: center;
    display: block;
    /* display: inline-block; */
    float: none;
}

.sticky-top .div-header .a-header{
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.img-logo{
    width: 180px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.p-DanhMuc{
    text-shadow: 10px 10px 10px rgba(21, 97, 55, 0.5);
    padding-left: 25px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    margin: 50px;
    font-size: medium;
}
.container{
    position: relative;
}
.img-recipe{
    /* width: 289px;
    height: 360px; */
    padding: 2px;
    
    border-radius: 10%;
    width: auto;
    height: 200px;
    max-width: 290px;
    max-height: 360px;
    text-align: center;
    display: block;

}
.p-recipe{
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    padding-left: 12px;
    bottom: 5px;
    font-size:small;
    
}

.container-suggest {
    text-align: center;
}

.container-suggest img {
    border-radius: 50%;
    width: 150px;
}

.img-footer{
    width: 100px;
    height: 100px;

}

.a-header{
    text-decoration: none;
    color: rgb(32, 43, 52);
    text-transform: uppercase ;
}

.a-body{
    color: #8FB780;
    
}
.content img{
    border-radius: 15%;
    padding: 6px;
    width: 100px;
}
header{
    text-align: center;

}

.div-header{
    background-color: #c6e197;
    height: 60px;
    display: block;
    word-spacing: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 12px 0px;
}

.div-header a{
    padding: 15px 16px;
    text-decoration: none;
    position: relative;
}


.div-header a:hover{
    color: rgb(60, 12, 217);
}

/* .div-footer{
    height: 100px;
    background-color: #c6e197;
    display: flex;
    text-align: center;
} */

.head {
    /* height: 350px; */
    line-height: 30px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 5px;
    display: flex;
    clear: both;
}

/* .left {
    width: 150px;
    height: 500px;
    border: 1px  solid #CDCDCD;
    float: left;
    background-color: #faf9f9;
    margin-bottom: 5px;
} */

.content {
    border: 1px solid #CDCDCD;
    float:left;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 710px;
    width: 975px;
    /* height: 500px;
    width:840px ; */
    display: block;
}

.right {
    /* height: 500px; */
    border: 1px solid #CDCDCD;
    float: right;
    height: 710px;
    width: 190px;
    /* margin-bottom: 5px; */
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.footer {
    height: 105px;
    border: 2px solid #e9e3e3;
    background-color: #c6e197;
    display: flex;
    text-align: center;
    clear: both;
}
.p-footer{
    margin-left:200px ;
    padding: 35px;
    text-align: center;
    font-size: small;
}
.footer-right{
    /* margin-left:300px ; */
   float: right;
}
.footer .footer-right {

    font-weight: bold;
}
.footer .footer-right .footer-right-icon a{
    margin: 3px;
}
input {
    border-radius: 20px;
}

.content .a-body .box-content {
    background-color: red;
}