
.img-logo{
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* / padding-top: 2%; / */
}
.form-control mr-sm-2 {
  border-radius: 20px;
}

.btn btn-outline-success my-2 my-sm-0 {
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.p-DanhMuc{
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgba(21, 97, 55, 0.5);
  padding-left: 25px;
  color: #fff;
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.cards:hover img{
  filter: grayscale(0)
  brightness(0.4);
}
.cards:hover::after{
  opacity: 1;
  inset: 5px;
}
.cards:hover .img-content {
  scale: 1;
  opacity: 1;
}
.cards:hover .img-content {
  opacity: 1;
  transform: translateY(0);
}
.img-content a{
  margin-bottom: 12px;
  scale: 0.7;
}

.img-content a {
  font-size: 14px;
  line-height: 1.5;
  color: #e5f7b2;
  transform: translateY(50%);
}
.img-content h3,
.img-content p {
opacity: 0;
transition: 0.4s 0.2s ease;
}
.img-content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container-suggest {
  text-align: center;
}

.container-suggest img {
  border-radius: 50%;
  width: 150px;
}

.a-body{
  color: #54cada;
}
.content img{
  border-radius: 50%;
  padding: 6px;
  width: 100px;
}

.content {
  border: 1px solid #CDCDCD;
  margin-right: 5px;
  margin-bottom: 5px;
  height: auto;
  
}

.right {
  height: 710px;
  margin-bottom: 5px;
  margin-right: 3%;
  /* position: sticky; */
  /* top: 100px; */
  position: -webkit-sticky;
  position: sticky;
  top: 100;
}
.icon i{
  padding: 1px;
}
input {
  border-radius: 20px;
}

.content .a-body .box-content {
  background-color: red;
}


#menu-button {
  border: #c6e197;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 5%;
  cursor: pointer;
  z-index: 100;
  background: #f9a825;
}

#menu {   
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  display: none;
  position: fixed;
  background-color:#6db657;
  padding: 10px;
  border-radius: 5px;
  z-index: 9;
  display: block;
  height: 100%;
  width: 30%;
  
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu ul li {
  margin-bottom: 10px;
}
#menu a{
  color: #fff;
  padding-left: 1%;
  padding:1%;
  text-decoration: none;
  text-align: center;
  list-style: none;
}
#menu ul li a {
  text-decoration: none;
  color: #333;
}

@media only screen and (min-width: 768px) {
  #menu, #menu-button {
    display: none;
  }
}
@media (max-width:325px){
  #menu{
      width: 100%;
  }
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  border : none;
}

.dropdown-item {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-item {
  display: block;
}

.xem-them:hover {
  color: #f00;
}

.xem-them:hover {
    color: #f00;
}
@media (max-width: 767px) {
.carousel-inner .carousel-item > div {
    display: none;
}
.carousel-inner .carousel-item > div:first-child {
    display: block;
}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* / medium and up screens / */
@media (min-width: 768px) {

.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

.checked {
color: orange;
}

.navbar navbar-expand-lg navbar-light bg-light {
  text-align: center;
}

.sticky{
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: sticky;
}
.p-menu{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
}
.team {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.team .team-item {
  position: relative;
  margin-bottom: 30px;
  background: #ffffff;
}

.team .team-img {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.team .team-img img {
  position: relative;
  width: 100%;
  margin-top: 15px;
  transform: scale(1.1);
  transition: .3s;
}

.team .team-item:hover img {
  margin-top: 0;
  margin-bottom: 15px;
}

.team .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.team .team-social a {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #54cada;
  opacity: 0;
}

.team .team-social a:hover {
  color: #ffffff;
  background: #719a0a;
}

.team .team-item:hover .team-social {
  background: rgba(256, 256, 256, .5);
}

.team .team-item:hover .team-social a:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .3s;
}

.team .team-text {
  position: relative;
  padding: 25px 15px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, .07);
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.team .team-text h2 {
  font-size: 22px;
  font-weight: 700;
}

.team .team-text p {
  margin: 0;
  font-size: 16px;
}