.container-fluid {
    max-width: 1366px;
}
.carousel .container-fluid {
    padding: 0;
}
.navbar .navbar-brand {
    margin: 0;
    color: #54cada;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #239452;
}

.navbar .navbar-brand:hover {
    color: #54cada;
}

.navbar .navbar-brand:hover span {
    color: #54cada;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}
.navbar .navbar-brand {
    color: #54cada;
}

.navbar.nav-sticky .navbar-brand {
    color: #54cada;
}
.navbar .navbar-brand {
    color: #54cada;
}
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/page-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header h2 {
    position: relative;
    color: #54cada;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -1px;
    right: -7px;
    text-align: center;
    color: #54cada;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}
a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #54cada;
    transition: .3s;
}
a:hover,
a:active,
a:focus {
    color: #719a0a;
    outline: none;
    text-decoration: none;
}